@using MvcOnlineTicariOtomasyon.Models.Siniflar;
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var k in Model)
    {
<tr>
    <td>
        @k.KategoriID
    </td>
    <td>
        @k.KategoriAD
    </td>
    <td>
        <a class="btn btn-danger" href="/Kategori/KategoriSil/@k.KategoriID">Sil</a>
    </td>
    <td>
         <a class="btn btn-success" href="/Kategori/KategoriGetir/@k.KategoriID">Güncelle</a> 
    </td>
    
</tr>
    }
</table>
<div class="col-md-4">
   
    <a href="/Kategori/KategoriEkle" class="btn btn-primary">Kategori Ekle</a>
</div>

