
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Kategori Sayfası</h2>
<br />
<form class="form-group" method="post">
    <label>KAtegori Adı</label>
    <input type="text" name="KategoriAd" class="form-control" />
    <button class="btn btn-info">Kaydet</button>



</form>

